:root{
/*colores*/
--blue-color: rgba(0,48, 87, 0.9);
--yellow-color:rgba(242, 169, 0, 0.9);
--gray-color:rgba(178, 178, 179, 0.9);
--red-color: rgba(147, 39, 44, 0.9);
--white-color: white;
--blue-color2: rgba(0, 106, 142, 0.9);
--yellow-color2: rgba(218, 170,0);
--black-color: rgba(60, 60, 50, 0.9);
}
#Footer {
  background-color: var(--yellow-color);
}


#Footer a {
  color: var(--blue-color);
}

#header{
  background-color: #B2B2B1;
}

#navbar a {
  color: var(--blue-color);
}


#navbar img {
  width: 150px;
}

.text-important {
  color: var(--red-color) !important;
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0,5);
  color:white;
  z-index: 1;

}

#carousel .overlay h2 {
  color: white;
}

#carousel .overlay p {
  color: yellow;
}

#main .carousel-inner img {
  max-height: 80vh;
  object-fit: cover;
}

.button_style {
  padding-top: 10px;
}